body{
    background-color: #add8e6;
    font-family: 'Nerko One', cursive;
}

h1{
    font-size: 4em;
    color: white;
    text-align: center;
}

.Container{
    width: 980px;
    margin: auto;
}

.Test{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 5px;

    margin-right: 15px;
    margin-bottom: 10px;
    
    display: inline-block;
}

footer{
    text-align: center;
}