body{
    background-color: #add8e6;
    font-family: 'Nerko One', cursive;
}

h1{
    font-size: 4em;
    color: white;
    text-align: center;
}

h2{
    margin: 0;
}

.Container{
    width: 980px;
    margin: auto;
}

.Card{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 6%;

    margin-right: 15px;
    margin-bottom: 10px;

    background-image: url("../img/pattern.png");
    background-size: contain;
    
    position: relative;

    display: inline-block;
}

footer{
    text-align: center;
    font-size: 22px;
}

.Card:hover{
    cursor: pointer;
}

.Bicicletta:hover{
    background-image: url("../img/noun_Bicycle_3134821.png");
}

.Nave:hover{
    background-image: url("../img/noun_Cruise_Ship_3134824.png");
}

.Tram:hover{
    background-image: url("../img/noun_Tram_3134750.png");
}

.Sottomarino:hover{
    background-image: url("../img/noun_Submarine_3134738.png");
}

#Mongolfiera{
    background-image: url("../img/noun_air_balloon_3134741.png");
    max-height: 80%;
}

#Trattore:hover{
    background-image: url("../img/noun_Tractor_3134797.png");
}

.Testo{
    position: absolute;
    bottom: 0;

    width: 100%;
    text-align: center;

    display: none;
}

.Bicicletta:hover .Testo, .Nave:hover .Testo, .Tram:hover .Testo, .Sottomarino:hover .Testo, #Trattore:hover .Testo{
    display: block;
}

.Bicicletta{
    color: #79b15c;
}

.Nave{
    color: #4994b7;
}

.Sottomarino{
    color: #654294;
}

#Mongolfiera{
    color: #e61986;
}

#Trattore{
    color: #e67919;
}

#Mongolfiera > h2{
    display: block;
}